<h2>投稿一覧</h2>

<h3>【最新の投稿】</h3>

<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <%= post.content%>
        
<%
=begin
%>

<div class="post-left">
<img src="<%= "/user_images/#{post.user.image_name}" %>"> 
        </div>

        <div class="post-right">
          <div class="post-user-name">
            <%= link_to( post.user.name, "/users/#{post.user.id}" ) %>
          </div>
          <%= link_to(post.content, "/posts/#{post.id}") %>
        </div>
        <%
=end
%>
      </div>
    <% end %>
  </div>
</div>